
beautifulsoup4==4.12.3


crewai==0.30.11
crewai-tools==0.2.6



google-ai-generativelanguage==0.6.4

huggingface-hub==0.23.2

langchain==0.1.20
langchain-cohere==0.1.5
langchain-community==0.0.38
langchain-core==0.1.52
langchain-google-genai==1.0.4


nest_asyncio
